### Variadic Function

In [45]:
from warnings import filterwarnings

filterwarnings("ignore")

### User Define function

In [46]:
def mul(a: int | float, b: int | float) -> int | float:
    # -> int|float is use for output should be in int or float
    c = a * b
    return c

In [47]:
# Argument in finction
m1 = mul(2, 2.4)
m1

4.8

In [48]:
# keyword arguments
m2 = mul(b=2.4, a=2.4)
m2

5.76

In [49]:
def fun1(*args):
    print(args)
    print(type(args))
    for i in args:
        print(i)

In [50]:
fun1("Pratik",99,True)

('Pratik', 99, True)
<class 'tuple'>
Pratik
99
True

### Pass list in an argument

In [51]:
a = [1,2,3,4,5]
type(a)

list

In [52]:
fun1(*a)
# *a is use for unpacking

(1, 2, 3, 4, 5)
<class 'tuple'>
1
2
3
4
5

### Write a variadic function to apply multiplication of all number

In [53]:
def multi(*args):
    c = 1
    for i in args:
        c = c * i
    return c

In [54]:
multi(1,2,3,4,5)

120

In [44]:
c1 = [
  ("Mobile", 1000, 2),
  ("Laptop", 2000, 3),
  ("TV", 3000, 4)
]

### for above cart value do the billing and add 18% GST at the end

In [84]:
def bill(*args):
  total_before_tax = 0
  for name, price, quantity in args:
    item_total = price * quantity
    total_before_tax += item_total
    print(f"Name: {name}, Price: {price}, Quantity: {quantity}")
    print(f"Item Total: {item_total:.2f}\n")

  tax = (18/100) * total_before_tax
  final_amount = total_before_tax + tax

  print(f"Tax: {tax:.2f}")
  print(f"Final Amount: {final_amount:.2f}")

  return final_amount

In [85]:
bill(*c1)

Name: Mobile, Price: 1000, Quantity: 2
Item Total: 2000.00

Name: Laptop, Price: 2000, Quantity: 3
Item Total: 6000.00

Name: TV, Price: 3000, Quantity: 4
Item Total: 12000.00

Tax: 3600.00
Final Amount: 23600.00

23600.0

### keyword argument in python
1. **keyword

In [3]:
def func(**kwargs):
    print(kwargs)# prints: {'a': 1, 'b': 2}
    print(type(kwargs))
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [4]:
func(name="Pratik", age=20, city="Pune")

{'name': 'Pratik', 'age': 20, 'city': 'Pune'}
<class 'dict'>
name: Pratik
age: 20
city: Pune