### Classes in oop

### Create Data frame

In [1]:
a = {
  "Roll no": [10,20,30,40,50],
  "Name": ["Rahul","Rohan","Rahul","Rohan","Rahul"],
  
}

In [2]:
import pandas as pd
df = pd.DataFrame(a)
df

   Roll no   Name
0       10  Rahul
1       20  Rohan
2       30  Rahul
3       40  Rohan
4       50  Rahul

In [4]:
df.shape

(5, 2)

### Attribute of Class 
1. shap
2. columns
3. index
4. dtype
5. value

In [9]:

df.values

array([[10, 'Rahul'],
       [20, 'Rohan'],
       [30, 'Rahul'],
       [40, 'Rohan'],
       [50, 'Rahul']], dtype=object)

### funcrion / Methods of calss dataframe

In [12]:
df.head(2)

   Roll no   Name
0       10  Rahul
1       20  Rohan

In [13]:
df.tail(2)

   Roll no   Name
3       40  Rohan
4       50  Rahul

In [14]:
class Person:
  #constructor function - Define attribute of class
  def __init__(self, name, age):
    self.name = name
    self.age = age
  # introduce method for class 
  def myfunc(self):
    print(f"Hello my name is {self.name} and I am {self.age} years old")

In [15]:
p1 = Person("Pratik", 99)
p1.myfunc()

Hello my name is Pratik and I am 99 years old

In [18]:
p2 = Person(name="nayan",age=20)
p2.myfunc()

Hello my name is nayan and I am 20 years old

In [22]:
p2.name

'nayan'