### Classes in oop

### Create Data frame

In [96]:
a = {
  "Roll no": [10,20,30,40,50],
  "Name": ["Rahul","Rohan","Rahul","Rohan","Rahul"],
  
}

In [97]:
import pandas as pd
df = pd.DataFrame(a)
df

   Roll no   Name
0       10  Rahul
1       20  Rohan
2       30  Rahul
3       40  Rohan
4       50  Rahul

In [98]:
df.shape

(5, 2)

### Attribute of Class 
1. shap
2. columns
3. index
4. dtype
5. value

In [99]:

df.values

array([[10, 'Rahul'],
       [20, 'Rohan'],
       [30, 'Rahul'],
       [40, 'Rohan'],
       [50, 'Rahul']], dtype=object)

### funcrion / Methods of calss dataframe

In [100]:
df.head(2)

   Roll no   Name
0       10  Rahul
1       20  Rohan

In [101]:
df.tail(2)

   Roll no   Name
3       40  Rohan
4       50  Rahul

In [102]:
class Person:
  #constructor function - Define attribute of class
  def __init__(self, name, age):
    self.name = name
    self.age = age
  # introduce method for class 
  def myfunc(self):
    print(f"Hello my name is {self.name} and I am {self.age} years old")

In [103]:
p1 = Person("Pratik", 99)
p1.myfunc()

Hello my name is Pratik and I am 99 years old

In [104]:
p2 = Person(name="nayan",age=20)
p2.myfunc()

Hello my name is nayan and I am 20 years old

In [105]:
p2.name

'nayan'

### Create Data Class using decorate

In [106]:
from dataclasses import dataclass
from typing import Literal

In [107]:
@dataclass
class Student:
  roll_no:int
  name:str
  grade:Literal["Male","Female"]

  def __post_init__(self):
    errors = []
    if type(self.roll_no) != int:
      errors.append("Roll number should be integer")
    if type(self.name) != str:
      errors.append("Name should be string")
    if type(self.grade) != str:
      errors.append("Grade should be string")


    if errors:
      raise ValueError("\n".join(errors))
    

  def talk(self):
    print(f"Roll number: {self.roll_no}")
    print(f"Name: {self.name}")
    print(f"Grade: {self.grade}")

In [108]:
s1 = Student(1,"Pratik","Male")
s1.talk()

Roll number: 1
Name: Pratik
Grade: Male

In [109]:
s2 = Student("pratik","Pratik",1)
s2.talk()

ValueError: Roll number should be integer
Grade should be string

### Handel multiple bank account

In [90]:
@dataclass
class Account:
  ac_no:int
  name:str
  balance:float|int

  def __post_init__(self):
    errors = []
    if type(self.ac_no) != int:
      errors.append("Account number should be integer")
    if type(self.name) != str:
      errors.append("Name should be string")
    if type(self.balance) != float:
      errors.append("Balance should be float")

    if errors:
      raise ValueError("\n".join(errors))
    
  def get_balance(self):
    print(f"Current Balance: {self.balance}")
  
  def deposit(self,amount: int|float):
    if amount < 0:
      raise ValueError("Amount should be positive")
    self.balance += amount

  def withdraw(self,amount):
    if amount > self.balance:
      raise ValueError("Insufficient balance")
    self.balance -= amount
  
  def transfer(self,amount,account2:"Account"):
     self.withdraw(amount)
     account2.deposit(amount)

In [111]:
a1= Account(1,"Pratik",1000.00)

In [112]:
a1.get_balance()

Current Balance: 1000.0

In [114]:
a1.withdraw(500)

In [115]:
a1.deposit(600)

In [116]:
a2= Account(2,"Mehta",1000.00)

In [117]:
a1

Account(ac_no=1, name='Pratik', balance=600.0)

In [118]:
a2

Account(ac_no=2, name='Mehta', balance=1000.0)

In [119]:
a1.transfer(500,a2)

In [120]:
a2

Account(ac_no=2, name='Mehta', balance=1500.0)

In [121]:
a1

Account(ac_no=1, name='Pratik', balance=100.0)